<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://img.icons8.com/color/48/000000/microsoft.png">
    <link rel=" stylesheet" href="/css/style1.css">
    <title>About Page</title>
</head>

<body>

    {{>header}}
    <div class="main-content">
        <h2>D_Gamer</h2>
        <img src="/img/profileImage.jpg" alt="Dhruv's Photo.">
        <p style="width: 70%; margin: 0 auto;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates
            provident quisquam vitae
            iure qui eos neque earum illum eligendi corrupti impedit sed obcaecati itaque laudantium nesciunt veritatis
            placeat reiciendis delectus amet modi explicabo ad, numquam magnam! Voluptate hic quas optio velit natus
            perferendis fugiat beatae expedita! Nisi itaque harum nam modi libero ea, non eligendi distinctio unde rerum
            accusamus quia ab. Doloremque ex ad praesentium quibusdam veritatis neque aspernatur ipsa, ipsam sit nobis
            dignissimos. In culpa qui dolorum iusto, quos debitis, ducimus saepe soluta id ex natus expedita aperiam
            molestiae a, quasi dignissimos iure. Earum enim soluta ipsum repellendus?
        </p>
        <p style="width: 70%; margin:0 auto;">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda fuga
            maiores omnis
            magnam fugit at ab
            nostrum hic, mollitia rerum. Delectus accusamus cum nam laboriosam illo aliquam optio pariatur labore, et
            numquam tempore odio, laborum iusto dignissimos nemo error? Vitae distinctio rerum culpa vero tempora! Ab
            cumque facere adipisci aliquid quod molestiae fugit, inventore, architecto, maiores iure dolorum aspernatur
            doloribus eligendi recusandae. Culpa omnis quis odit, ad natus id explicabo odio reiciendis officia
            accusantium atque fugit eveniet. Illo nisi illum recusandae consequuntur odio autem placeat asperiores
            similique molestias ad, sapiente commodi quidem adipisci dolorum assumenda pariatur voluptates non sint ab!
        </p>
    </div>

    {{>footer}}
</body>

</html>